@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  color: white;
  color-scheme: light dark;
  background: url(../assets/bg-img.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1000;
  align-items: center;
}

.black-shadow-box {
  opacity: 0.69;
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  inset-block-start: 0;
  mix-blend-mode:color-burn;

  background-color: rgba(96, 104, 104, 0.579);
  z-index: -1000;
}

.header {
  overflow: hidden;
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-block-end: 1rem;
  color: white;
}
.header-nav {
  padding: 2rem;
  display: flex;
  background-color: black;
  justify-content: space-between;
  border-end-start-radius: 8px;
  border-end-end-radius: 8px;
  align-items: center;
}
.nav-heading > h1 {
  font-size: 2.8rem;
}
.nav-links ul {
  inline-size: 60vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links > ul li {
  list-style-type: none;
  :hover {
    text-decoration: underline white;
  }
}
.nav-links > ul li a {
  font-size: 1.5rem;
  border-radius: 50%;
  padding: 1rem;
  color: aliceblue;
  text-decoration: none;
}
.header-body {
  padding-inline: 0.8rem;
}
.theme-btn {
  padding: 10px;
  margin-block-end: 20px;
  cursor: pointer;
}
.welcome-heading {
  color: black;
  padding: 0.5rem;
  font-size: 6rem;
  word-break: keep-all;
  word-spacing: 20px;
  text-align: center;
}
.about-p {
  padding-inline: 1rem;
  letter-spacing: 14px;
  font-size: 2.3rem;
  line-height: 4rem;
  text-align: center;
}
.go-to-portfolio-btn {
  text-align: center;
  margin-block: 4rem;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-white {
  /* text-align: center; */
  background-color: #000000;
  color: #ffffff;
}
.btn::after {
  content: "";
  display: inline-block;
  block-size: 100%;
  inline-size: 100%;
  border-radius: 100px;
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn-white::after {
  background-color: #fff;
}
.btn-white:hover::after {
  transform: scale(1.4);
  opacity: 0;
}
.btn-animation {
  animation: moveinbottom 0.5s ease-out.75s;

  animation-fill-mode: backwards;
}

.header-p {
  padding: 0.5rem;
  text-align: center;
  border-radius: 8px;
  letter-spacing: 5px;
  :hover {
    text-decoration: underline black;
  }
}
.header-p > p {
  cursor: pointer;
  font-size: 1.3rem;
  line-height: 3rem;
}

.footer {
  display: flex;
  flex-direction: column;
  border-top: 1px solid black;
  position: relative;
  inset-block-end: 0;
  inline-size: 100%;
  background: #f4f4f35f;
  min-block-size: 100px;
  padding: 1rem 1rem;
  padding-block-end: 4rem;
}

.follow-link-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer hr{
  margin-block-start: 1rem;
  color: black;
  margin-inline: 0.5rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.49);
}
.footer-heading {
  color: black;
  font-size: 1.7rem;
  text-align: center;
}

.footer-heading h2{
  font-family: Arial, Helvetica, sans-serif;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.footer p {
  color: black;
  font-size: 1.3rem;
  font-weight: 300;
  text-align: center;
}

/* ------------------------------Starting Portfolio Page ---------------------*/
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 100%;
  padding-inline: 0;
  padding-block: 1rem;
  margin-block: 1rem;
}
.main-top{
  display: flex;
  justify-content: space-between;
  inline-size: 96%;

}

.main-left{
  gap: 2rem;
  max-width: 60%;
  color: white;
}

.main-left h2 {
  color: black;
  font-size: 4.8rem;
  text-decoration: underline;
}
.main-left p {
  text-align: justify;
  font-size: 2.5rem;
}
.main-right {
  background-image: url(./../assets/M\ Zeeshan\ Khan.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  object-fit: contain;
  border: 1px solid white;
  block-size: 30rem;
  inline-size: 30rem;
  border-radius: 50%;
}



.main-bottom-flex{
  padding-inline: 2rem;
  padding-block: 2rem;
  display: flex;
  gap: 2rem;
}
.hidden{
  display: none;

}



#toggleButton{
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  outline: none;
  overflow: hidden;
  z-index: 1000;
}

#toggleButton::before{
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transition: all 0.4s ease;
  z-index: -1;
  pointer-events: none;
}



#toggleButton:hover::before{
  left: 0;
}
#toggleButton span {
  position: relative;
  z-index: -1;
}
#toggleButton:hover{
  color: #000; /* Change text color on hover */
}
.main-bottom, .main-bottom-flex h2{
  color: black;
  font-size: 4.8rem;
  text-decoration: underline;
}
.main-bottom, .main-bottom-flex p{
  font-size: 2rem;
}

.resume-container {
  max-width: 96vw;
  width: 100vw;
  padding: 20px;
}

.resume-container h2 {
  font-size: 4.8rem;
  margin-bottom: 20px;
  text-decoration: underline;

  color: black;
}

.skills-container, .education-container {
  margin-bottom: 40px;
}

.skills-list, .education-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skill-item, .education-item {
  background-color: #fafafa;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.resume-container h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #2c3e50;
}

.resume-container p {
  font-size: 1rem;
  color: #555555;
}

.skill-bar {
  width: 100%;
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
}

.skill-progress {
  height: 100%;
  background-color: #3498db;
  border-radius: 4px;
}
.container-projects {

  display: flex;
  flex-direction: column;
  margin-inline: 4rem;
  z-index: 10;
  padding: 4rem;
 
  text-align: center;
}

.container-projects h1 {
  font-size: 2.5rem;
  margin-block-end: 2rem;
  color: black;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.project-card {
  background-color: #4d4949;
  border: 10px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  inline-size: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.project-card h2 {
  font-size: 1.8rem;
  margin-block-end: 1rem;
  color: #007bff;
}

.project-card p {
  font-size: 1rem;
  color: white;
  margin-block-end: 1.5rem;
}

.project-card a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.project-card a:hover {
  text-decoration: underline;
}

/* ---------------------starting contact page------------------- */
.contact-page {
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}
.contact-page h2 {
  color: black;
  padding-inline: 1rem;
  font-size: 4rem;
  font-weight: 400;
}
.contact-page p {
  padding: 1rem;
  font-size: 1.5rem;
}
.contact-section {
  padding: 0.5rem;
  inline-size: 90%;
  block-size: 100%;
  border: 1px solid white;
  border-radius: 1rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-form {
  padding: 0.5rem;
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact-heading h2 {
  word-break: break-all;
  color: black;
  font-weight: 500;
  font-size: 5rem;
}
.contact-form input,
.contact-form textarea {
  background: rgba(15, 15, 14, 0.22);
  color: black;
  inline-size: 100%;
  padding: 0.5rem;
  font-size: 2rem;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  inline-size: 100%;
  padding: 1rem;
  font-size: 2rem;
  background-color: #fffefe55;
  color: black;
  border: none;
  border-radius: 4rem;
}

/*---------- services page starting----------- */

.services-section {
  margin-inline: 2vw;
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  inline-size: 100%;
  block-size: 100%;
}
.services-section h2 {
  color: black;
  font-size: 4rem;
  font-weight: 400;
}
.services-section p {
  font-size: 1.5rem;
}
.service {
  block-size: max-content;
  word-break: break-all;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3rem;
  background: #8886867d;
  color: white;
  padding: 1.3rem;
  border-radius: 1rem;
}

.service h3 {
  color: black;
  font-size: 3rem;
  text-decoration: underline;
}

.service p {
  font-size: 2rem;
  color: white;
}
