@media (min-width : 300px) and (max-width : 550px) {
    .container {
      margin-right: 1rem;
    }
    
    .header-nav {
        padding: 0.1rem;
        padding-block: 1rem;
        flex-direction: column-reverse;
        gap: 1rem;
    }
    .nav-heading>h1{
        font-size: 2.5rem;
    }
    .nav-links ul {
        justify-content: space-evenly;
        gap: 0.8rem;
    }
    .nav-links > ul li a {
        font-size: 1.1rem;
        padding: 0;
    }   
    .welcome-heading {
        font-size: 2.4rem;
        word-break:keep-all;
        word-spacing: 20px;
        text-align: start;
      }
      .about-p{
        padding-inline: 0.5rem;
        letter-spacing: 3px;
        font-size: 1.2rem;
        line-height: 2rem;
        text-align:left;
    }
    .header-p {
        padding: 0.2rem;
        text-align: justify;
        letter-spacing: 1px;
    }
    .header-p > p {
        font-size: 1rem;
    }
    .main{
        flex-direction: column-reverse;
        align-items: center;
    }
    .main-left{
        padding-inline: 2rem;
    }
    .main-left h2{
        font-size: 2.2rem;

    }
    .main-left p{
        font-size: 1.5rem;
        text-align: justify;
    }
    .main-right{
        block-size: 300px;
        inline-size: 300px;
    }
    .main-right img{
        block-size: 280px;
        inline-size: 300px;
    }
    .container-projects {
        margin-inline: 1rem;
        padding:1.5rem ;
    }
}

@media (max-width: 768px) {
    .contact-section {
      padding: 10vw 5vw;
    }
  
    .contact-form input, .contact-form textarea {
      font-size: 2vw;
    }
  
    .contact-form button {
      font-size: 2vw;
    }
  }
  
  @media (max-width: 576px) {
    .contact-section {
      padding: 15vw 5vw;
    }
  
    .contact-form input, .contact-form textarea {
      font-size: 3vw;
    }
  
    .contact-form button {
      font-size: 3vw;
    }
  }
  @media (max-width: 768px) {
    .services-section {
      padding: 5vw;
    }
  
    .service h3 {
      font-size: 4vw;
    }
  
    .service p {
      font-size: 2vw;
    }
  }
  
  @media (max-width: 576px) {
    .service h3 {
      font-size: 2rem;
    }
  
    .service p {
      font-size: 1.5rem;
    }
  }
